---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectSection from "../components/ProjectSection.astro";
import AboutSection from "../components/AboutSection.astro";
---

<BaseLayout>
	<div class="mx-auto max-w-screen-md px-5 flex flex-col gap-8">
		<AboutSection />
		<ProjectSection />
	</div>
</BaseLayout>