---
import SectionHeader from "./SectionHeader.astro";
---

<div id="about">
    <SectionHeader title="À propos" />
    
    <div class="prose prose-neutral dark:prose-invert pt-4">
        <p>
            Élève ingénieur en deuxième année de cycle préparatoire à <a href="https://www.polytech.universite-paris-saclay.fr" target="_blank" class="text-primary-text dark:text-primary-text-dark">Polytech Paris-Saclay</a>.
        </p>
        <p>
            Passionné d'informatique et développeur depuis plus de 5 ans. Mon parcours académique et personnel, ainsi que ma curiosité et mon autonomie, m'ont permis de réaliser différents  <span class="text-accent dark:text-accent-dark">#</span><a href="#projects" class="text-primary-text dark:text-primary-text-dark">projets</a> et de découvrir de nouvelles technologies.
        </p>
    </div>
</div>

